DEVICE={{ item.simple }}
BOOTPROTO={{ item.bootproto }}
DEFROUTE={{ item.defroute }}
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
IPV6_ADDR_GEN_MODE=stable-privacy
NAME={{ item.simple }}
{% if item.onboot is defined %}
ONBOOT={{ item.onboot }}
{% else %}
ONBOOT=yes
{% endif %}
{% if item.mtu is defined %}
MTU={{ item.mtu }}
{% else %}
MTU=1500
{% endif %}
{% if nameservers.dns1 is defined %}
DNS1={{ nameservers.dns1 }}
{% else %}
DNS1=8.8.8.8
{% endif %}
{% if nameservers.dns2 is defined %}
DNS2={{ nameservers.dns2 }}
{% endif %}
{% if nameservers.dns3 is defined %}
DNS3={{ nameservers.dns3 }}
{% endif %}
{% if item.ip4 is defined %}
IPADDR={{ item.ip4 }}
{% endif %}
{% if item.cidr is defined %}
PREFIX={{ item.cidr }}
{% endif %}
{% if item.gw4 is defined %}
GATEWAY={{ item.gw4 }}
{% endif %}
IPV6_PEERDNS=yes
IPV6_PEERROUTES=yes
{% if item.zone is defined %}
ZONE={{ item.zone }}
{% else %}
ZONE=public
{% endif %}
